@import '../config/colours';
@import '../config/dimensions';

.projectinfo {
  width: auto;
  height: auto;
}

.leaflet-popup-pane {
  left: 55%;
  position: absolute;
  right: 10%;
  top: 2%;

    
  .leaflet-popup-scrolled {
    width: 97%;
  }
  .leaflet-popup-content-wrapper {
    background: $background-map-overlay;
    border: 3px solid $grey-light;
    box-shadow: $shadow;
    overflow: auto;
    padding: $base-unit;
    position: relative;
    width: 97%;
    height: 97%;
    z-index: 1;  // needs to be specified >=1 to go above the map
  
  .leaflet-popup-content {
    width: 350px;
  }
    h3 {
      color: $theme-blue;
      font-weight: bold;
      margin: 0;
      padding-bottom: 0;
      text-transform: uppercase;
    }
    span {
      font-weight: bold;
    }
  }
}
