@import '../config/colours';
@import '../config/dimensions';

.main-map {
  .map-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 102px;

    & > .leaflet-map {
      height: 100%;

      &.leaflet-container {
        background: $map-bg;  // override leaflet's setting
      }
    }
  }
}
.messages{
    position: absolute;
    z-index: 1000;
    margin-top: 1%;
    margin-left: 3%;
}
.color-chips{
    position: absolute;
    z-index: 1000;
    margin-top: 20%;
    margin-left: 5%;
    background-color: white;
    width: 150px;
}

.reset {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  font-weight: border;
  color: #ffffff;
  font-size: 14px;
  background: #d96e34;
  padding: 10px 15px 10px 15px;
  border: solid #AD2C11 2px;
  text-decoration: none;
  position:absolute;
  z-index: 1;
  left: 90%;
  top: 10%;
}
  .reset:hover {
  background: #fca63c;
  text-decoration: none;
}